.header {
    color: azure !important;
    position: fixed;
    z-index: 2;
    width: 100%;
}

@media (max-width: 768px) {
    .header {
        padding: 0 10px !important;
    }
}

.content {
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    margin: 15px 35px;
}

@media (max-width: 576px) {
    .content {
        margin: 0;
    }
}

.contentLayout {
    margin-top: 64px;
}

.sider {
    position: 'absolute';
    z-index: 1;
}

@media (max-width: 768px) {
    .sider {
        width: 100% !important;
    }
}