.avatar {
    margin: 0 20px !important;
}

.infoLineIcon {
    font-size: 24px;
}

.infoSectionTitle {
    margin-top: 10px;
    display: block;
    text-align: center;
}

.sider {
    max-width: 220px;
    padding: 10px 15px;
}

@media (max-width: 576px) {
    .sider {
        padding: 0;
    }
}
